/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
.displayNavBarLeft {
 float: left;
}
.displayNavBarMiddle {
    float: left;
}

#search_widget {
 width: 100%;
}

.header-nav {
 position: fixed;
 width: 100%;
 z-index: 100;
}

#header .header-nav{
 background: #f0f0f0;
}
.top-menu li {
    display: inline-block;
}
@media (min-width: 992px) {
    .col-lg-8 {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .col-md-8 {
        width: 100%;
    }
}
.col-md-8 {
    padding-right: 0;
}
#top-menu {
    width: fit-content;
}
div#_desktop_top_menu {
    width: fit-content;
}
.user-info span {
display: none;
}
#_desktop_cart span {
display: none;
}
